@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import "variables.scss";
@import "components.scss";
@import "buttons.scss";
@import "header.scss";
@import "footer.scss";
@import "alert.scss";
@import "search.scss";
@import "menu.scss";
@import "page-header.scss";
@import "quick-links.scss";
@import "highlights.scss";
@import "latest-news-events.scss";

html {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  position: relative;
  font-family: $sans;
  font-size: 16px;
  font-weight: 400;
  color: $secondary;
  overflow-x: hidden;
}

.disable-scroll {
  overflow: hidden !important;
  height: 100vh;
}

a {
  color: $primary;
  text-decoration-thickness: 2px;
  transition: all 200ms ease-in-out;
}

button {
  transition: all 200ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $serif;
  font-weight: 700;
  line-height: 1;
}

h1 {
  font-size: $font-3xl;
}

h2 {
  font-size: $font-2xl;
}

h3 {
  font-size: $font-xl;
}

h4 {
  font-size: $font-lg;
}

h5 {
  font-size: $font-base;
}

h6 {
  font-size: $font-sm;
  line-height: 1;
}

.container {
  padding: 0 $sidePadding;
}

// iPad Pro
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 $sidePaddingTablet;
  }
}

// iPad
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}

// Mobile
@media only screen and (max-width: 640px) {
}
