.page-header {
  background: url("../views/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 4rem;

  h1 {
    color: $white;
    background: rgba($primary, 0.8);
    width: 50%;
    padding: 2rem 3rem;
    font-weight: 300;
    margin: 0 0 3.5rem 0;
  }
}

@media only screen and (max-width: 640px) {
  .page-header {
    height: auto;
    padding-top: 12rem;
    margin-bottom: 2rem;

    h1 {
      margin: 0;
      font-size: $font-base;
      width: 100%;
      padding: 1rem 1.5rem;
    }
  }
}
